

h2{
    color: red;
    text-align: center;
}


#start{
    text-align: center;
}

h4{
    color: black;
    text-align: center;
}

p{
    text-align: center;
}

.bannerBox{
   border-left: 15px;
   border-right: 15px;
    background-color: lightgray;
}


footer {
    background: #666666;
    color: #fff;
    padding: 0;
    color: #cccccc;
    font-size: 12px;
    text-align: center;
    position:fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    margin: auto;
}
 

  *{

    box-sizing: border-box;
}

body {
    background-color: lightorange;
    position: relative;
    font-family: Georgia, Times, "Times New Roman", serif;
    font-size: 16px;
    line-height: 20px;
 
}

h1 {

    margin: 35px 0 0 0;
    text-align: center;
    font-size: 60px;
    line-height: 69px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: #000ecf;
}

.container {

    text-align: center;
    margin: 0 15%;
 
    background: #fffd91
}

.main-content {

    padding: 5% 0;
}


.btn {

    padding: 15px 75px;
    font-size: 20px;
    background:#17b632 ;
    
}