
body {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    text-align: center;
    background-image: url(assets/images/kung fu panda-background-image.jpg);
    color: lightblue;
}

.picture{
    align: center;
}


h2{
    color: red;
    text-align: center;
}
#start{
    text-align: center;
}
h3{
    color: lightyellow;
    text-align: center;
}
p{
    text-align: center;
}

.bannerBox{
   border-left: 15px;
   border-right: 15px;
    background-color: lightgray;
}